extends layout
  
block content
  div.about
    p Welcome to SuperCuber! Right now this is just a wallpaper site with a few wallpapers I have found online and liked. The original intention of the website was to be a way for me to learn more about Node.js. I have built the site with the Express framework, Node.js, and a MongoDB database. The images are actually stored on Amazon s3 hosting.
    br
    p Now I want to use the site as a way to experiment with image analysis/science. Here are a few feature I am planning on adding
    br
    ul
      li A custom ranking system based on clicks/views of each image on the home page. Some of the newer wallpaper sites I see implement social voting systems which I think are a great idea. I want to do something like this but feel that a lot of voting systems are flawed by participation bias, success bias, and other types of inefficiencies. 
      li Lots of image analysis on the specific Image pages: Edge detection, pixel content analysis, and patter recognition. I want to experiment with several kinds of analysis and see which ones are the most useful/cool.  
      li A content-base image retrieval system in place of typical meta-tag image search on other wallpaper sites. I have a lot of reading/research to do first in this area.
         
    br
    p If you have any questions or want to contact me you can email marshall.a.x@gmail.com
