link(rel='stylesheet', href='/stylesheets/style.css')
script.
  var WRInitTime=(newData()).getTime()
header
  div.left 
    a(href="/")
      img(src="/images/header-title.png" height="50")
  div.button-link
    a(class='button', href='/about') About/Info
body
  block content
  script.
    document.write(unescape("%3Cscript%20src='"+
    (document.location.protocol=='https:'?
    "https://cdnssl.clicktale.net/www07/ptc/866c2dd3-0051-424f-8090-e5aaf8300956.js":
    "http://cdn.clicktale.net/www07/ptc/866c2dd3-0051-424f-8090-e5aaf8300956.js")+"'%20type='text/javascript'%3E%3C/script%3E"))
