<div id="container" on-scrolled="loaddata()">
    <h1>Home Page</h1>
    <ul>
        <li ng-repeat="datum in data">
        <img ng-src="https://s3.amazonaws.com/supercuber.images/thumb_{{datum.source}}" ng-click="goLarge = !goLarge" ng-show="!goLarge" class="effectfront">
            <div ng-show="goLarge">
                <img src="https://s3.amazonaws.com/supercuber.images/{{datum.source}}" ng-click="goLarge = !goLarge">
                <div id="test_box">
                </div>
                <span class="meta-data" my-draggable>
                    <h2>Meta</h2>
                  <ul>
                      <li>Source: {{datum.source}}</li><br>
                      <li>Score: {{datum.score}}</li>
                      <li>Download <a href="https://s3.amazonaws.com/supercuber.images/{{datum.source}}" download>Here</li>
                  </ul>
                </span>
            </div>
        </li>
    </ul>
</div>
